<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Aplicacion/agregarProducto" method="POST">{% csrf_token %}
        <p>Tipo: <input type="text" name="tipo"></p>
        <p>Aroma: <input type="text" name="aroma"></p>
        <p>Precio: <input type="number" name="precio"></p>

        <input type="submit" value="Agregar">
    </form>
</body>
</html>