{% extends 'Aplicacion/padre.html' %}

{% block titulo %}
Bienvenido Estas en vendedor
<br>
<a href="{% url 'crearVendedor' %}"><button type="button" class="btn btn-secondary btn-lg" >crear vendedor</button></a>
{% endblock %}

{% block crear_vendedor %}




{% for Vendedor in ven %}
    <li style="list-style: none;">
        nombre: {{Vendedor.nombre}} <br> apellido: {{Vendedor.apellido}} <br>
        <a href="{% url 'borrarVendedor' Vendedor.nombre %}"><button style="border-radius: 15px;" type="button" class="btn btn-secondary btn-sm" >eliminar vendedor</button></a>
    </li>
    <br>
{% endfor %}

{% endblock %}